<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
    <script src="js/calc.js" type="module"></script>
    <link rel="stylesheet" href="css/calc.css">
</head>
<html>
  <div class="container">
    <div class="main">
      <div class="center">
        <div class="calculator">
          <div class="inputbox">
            <input class="input" type="text">

            </input>
          </div>
          <div class="buttons">
            <div class="row1">
              <div class="a" >
                  <button class="allclear" value="C">
                    C
                </button>
              </div>

              <div class="a" >
                  <button class="change" value="change">
                    &#43;&#47;&#45;
                </button>
              </div>

              <div class="a" >
                  <button class="mod" value="&#37;">
                  &#37;
                </button>
              </div>

              <div class="a" >
                  <button class="divide" value="&#47;">
                    &#47;
                </button>
              </div>
            </div>
            <div class="row2">
              <div  class="b" >
                <button class="num" value="7">
                  7
                </button>
              </div>
              
              <div class="b" >
                <button class="num" value="8">
                  8
                </button>
              </div>

              <div class="b" >
                <button class="num" value="9">
                  9
                </button>
              </div>

              <div class="b" >
                <button class="times" value="&#42;">
                  &#42;
                </button>
              </div>
            </div>
            <div class="row3">
              <div  class="c" >
                <button class="num" value="4">
                  4
                </button>
              </div>
              
              <div  class="c" >
                <button class="num" value="5">
                  5
                </button>
              </div>

              <div  class="c" >
                <button class="num" value="6">
                  6
                </button>
              </div>

              <div  class="c" >
                <button class="plus" value="&#43;">
                  &#43;
                </button>
              </div>
            </div>
            <div class="row4">
              <div  class="d" >
                <button class="num" value="3">
                  3
                </button>
              </div>
              
              <div class="d" >
                <button class="num" value="2">
                  2
                </button>
              </div>

              <div class="d" >
                <button class="num" value="1">
                  1
                </button>
              </div>

              <div class="d" >
                <button class="minus" value="&#45;">
                  &#45;
                </button>
              </div>
            </div>
            <div class="row5">
              <div class="leftarea">
                <div  class="e" >
                  <button class="num" value="0">
                    0
                  </button>
                </div>
                
                <div class="e" >
                  <button class="period" value=".">
                    &#46;
                  </button>
                </div>
              </div>
             
              <div class = "rightarea">
                <div class="equals" >
                  <button class="eq" value="equals">
                    &#61;
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="history">
          <div class="clearbtncontainer">
            <button class="clear" value = 'clear'>
              Clear History
            </button>
          </div>
          <ul class="historyList">
          </ul>
        </div>
      </div>
    </div>
  </div>

</html>